{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<style>
  .vertical {
      border-left: 1px solid rgb(107, 104, 104);
      height: 100%;
      position:absolute;
      left: 35%;
  }
</style>


<body>

    <script>
  //     jQuery(document).ready(function (e) {
  //       jQuery('ul.nav li').click(function () {
  //           var tab_id = jQuery(this).attr('data-div');
    
  //           jQuery('ul.nav li').not('[data-div='+tab_id+']').removeClass('current');
  //           jQuery('.nav-content:not(#'+tab_id+')').removeClass('current');
    
  //           jQuery(this).toggleClass('current');
  //           jQuery("nav-content" + tab_id).toggleClass('current');

  //           var container = $("nav-content");

  //           if (!container.is(e.target) && container.has(e.target).length == 0)
  //           {
  //         container.fadeOut('slow');

  //  }
        
        
  //       })
      
        
  //   });
   function showBev(){
 
                  document.querySelector('#content1').style.display = 'block';
                  document.querySelector('#content2').style.display = 'none';
                }

                function showSideDish(){
 
 document.querySelector('#content2').style.display = 'block';
 document.querySelector('#content1').style.display = 'none';
}
    </script>
  


  <!--Main layout-->
  <main>
    <div class="container py-4">
      <h5>
        Do you prefer to dine in our restaurant? Click <a href="/reservation" class="blue-text">here</a> to Reserve
        a table instead
      </h5>
    </div>
    
    <div class="container mt-3">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
         <!-- The grid: four columns -->
        <div class=" col-sm-8 mb-3 d-flex align-items-start">
          <img src="{% static 'images/stew.jpg' %}"
          alt="Responsive image" class="img-fluid rounded float-left">
        </div>

              <div class="col-sm-4 mb-3 d-flex align-items-start">
                <div class="card-body">
                  <h5 class="red-text">
                    {{object.name}}
                  </h5>
                  <h5><strong>Kshs {{object.price}}</strong></h5>
                 
        <div>
          <form class="extras-form align-items-start">
            <div class="my-3">
                <p class="lead font-weight-normal font-size">
                    Select an accompaniment
                </p>
                <div class="form-check my-2">
                    <input type="checkbox" name="q1" value="ugali" checked>
                    <label class="form-check-label">Ugali</label>
                </div>
                <div class="form-check my-2">
                    <input type="checkbox" name="q1" value="rice">
                    <label class="form-check-label">Rice</label>
                </div>
                <div class="form-check my-2">
                  <input type="checkbox" name="q1" value="chapo">
                  <label class="form-check-label">Chapati</label>
              </div>
            </div>
            <div class="">
              <p class="lead font-weight-normal">
                Vegetables
            </p>
                <div class="form-check my-2">
                    <input type="checkbox" name="" value="skuma" checked>
                    <label class="form-check-label">Sukuma wiki</label>
                </div>
                <div class="form-check my-2">
                    <input type="checkbox" name="q2" value="managu">
                    <label class="form-check-label">Managu</label>
                </div>
                <div class="form-check my-2">
                  <input type="checkbox" name="q2" value="mixed">
                  <label class="form-check-label">Mixed veggies</label>
              </div>
            </div>
            <div class="text-center">
                <a href="{{object.get_food_add_to_cart_url}}" type="" class="btn btn-primary rounded">Add to cart</a>
            </div>
        </form>
        </div>

                </div>
               
             
              </div>
            </div>
          </div>
        
        
      <!--Grid row tabs for selecting order below-->
      <div class="container">
        
        <!-- <div class="tabs-container container mb-2">
 
          <ul class="tabs">
        
            <li class="tab-link" data-tab="tab-1"><h4><strong>Order Online</strong></h4></li>
            <li class="tab-link" data-tab="tab-2"><h4><strong>Reserve a Table</strong></h4></li>
            <li class="tab-link" data-tab=""><h4><strong>Reviews</strong></h4></li>
            <li class="tab-link" data-tab=""><h4><strong>Photos</strong></h4></li>
          
            
          </ul>
        </div> -->
      </div>
      
    
    <!-- The beverage and extras sidebar -->
      
      <div class="container" style="height: 300px;margin-bottom: 40px;">
        <div class="row">
          <!-- <div class="col-3">
        <div id="tab-1" class="tab-content">
          
            <div class=" sidenav wrapper d-flex flex-column flex-shrink-0" id="mySideNav">
              <ul class="nav nav-pills nav-flush flex-column mb-auto text-muted">
                  <li class="nav-link py-3" id="bev_id" onclick="showBev();"><small>Beverages</small></li>
                  <li class="nav-link py-3" id="side_id" onclick="showSideDish();"><small>Side Dish</small> </li>
                  <li class="nav-link py-3" id="snack_id"> <small>Veggies</small></li> 
              </ul>
            </div>
          </div>
        </div> -->
          <!-- <div class="col-9"> -->
            
            <!-- side navigation for accompaniments container -->
         <!-- <div class="container"> -->
           <!-- beverages div -->
              <!-- <div id="content1" class="nav-content" style="margin-left: 3%;">
                <div class="row">
                <div class="col">
                  <img src="{% static 'images/coke.jpeg' %}" 
                 alt="Responsive image" class="rounded float-left" height="130px" width="130px">
                </div>
                <div class="col-sm-3">
                  <h4>Chilled 300ml Soda at Kes 70</h4> 
                </div>
                <div class="col-sm-5 col-md-6">
                  <a href="{{object.get_food_add_to_cart_url}}" class="btn btn-primary btn-md rounded" >Add to cart
                    <i class="fas fa-shopping-cart ml-1"></i>
                  </a>
                </div>
              </div>
            </div> -->
            
            <!-- side dish div -->
            <!-- <div id="content2" class="nav-content" style="margin-left: 3%;">
              <div class="row">
              <div class="col">
                <img src="{% static 'images/ugali.jpeg' %}" 
               alt="Responsive image" class="rounded float-left" height="130px" width="130px">
              </div>
              <div class="col-sm-3">
                <h2>Side dish of Ugali</h2> 
              </div>
              <div class="col-sm-5 col-md-6">
                <a href="{{object.get_food_add_to_cart_url}}" class="btn btn-primary btn-md rounded" >Add to cart
                  <i class="fas fa-shopping-cart ml-1"></i>
                </a>
              </div>
            
          </div>
          
        </div>  -->
                <!-- Snacks div -->
                <!-- <div class="container">
                  <div id="content3" class="nav-content" style="margin-left: 10%;">
                    <div class="row">
                    <div class="col">
                      <img src="https://cdn.pixabay.com/photo/2017/06/02/17/37/fish-2366925_960_720.jpg" 
                     alt="Responsive image" class="rounded float-left" height="130px" width="130px">
                    </div>
                    <div class="col-sm-3 col-md-4">
                      <h2>Snacks</h2> 
                    </div>
                    <div class="col-sm-5 col-md-6">
                      <a href="{{object.get_food_add_to_cart_url}}" class="btn btn-primary btn-md rounded" >Add to cart
                        <i class="fas fa-shopping-cart ml-1"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>  -->
          <!-- </div>  -->

    </div>
      <!-- Reservation form -->
      
    </div>
   

  </div>
    

  </main>
  <!--Main layout-->
 


</body>
{% endblock content %}
