{% load static %}
<!--Footer-->

<footer class="page-footer text-center font-small wow fadeIn fixed-bottom">



    <hr class="my-3">

    <!-- Social icons -->
    <div class="pb-3">
      <a href="https://www.facebook.com/mdbootstrap" target="_blank">
        <i class="fab fa-facebook-f fa-1x mr-3"></i>
      </a>

      <a href="https://twitter.com/MDBootstrap" target="_blank">
        <i class="fab fa-twitter fa-1x mr-3"></i>
      </a>

      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
        <i class="fab fa-youtube fa-1x mr-3"></i>
      </a>
      © 2022 Copyright:
      <a href="https://www.riofish.co.ke/" target="_blank"> Rio Fish </a>

    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <!-- <div class="footer-copyright py-3">
      © 2022 Copyright:
      <a href="https://www.riofish.co.ke/" target="_blank"> Rio Fish </a>
    </div> -->
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->