{% extends 'base.html' %}
{% block content %}
  
<div class="card d-flex justify-content-between align-items-center" style="border: 5px;padding: 80px;">
<h2>Sign up</h2>
 <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn-primary">Sign up</button>
  </form>
  <div>
      <h6>If already registered, kindly log in <a href="{% url 'store:loginview' %}" class="blue-text">here</a></h6>
  </div>
</div>
{% endblock content %}